.order-status-timeline {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.timeline {
    width: 2px;
    background-color: #ccc;
    margin-right: 20px;
}

.order-steps {
    display: flex;
    flex-direction: column;
}

.order-status-step {
    display: flex;
    margin-bottom: 20px;
}

.status {
    display: flex;
    align-items: center;
}

.status img {
    width: 50px;
    margin-right: 10px;
}

.step-time {
    margin-left: auto;
    font-size: 14px;
}

.map-button {
    position: fixed;
    bottom: 20px;
    right: 110px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #2fd1b9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-button:hover {
    background-color: #4ac2da;
}
.map-button button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.map-button button:hover {
    background-color: #45a049;
}

.status img {
    width: 50px; /* Adjust the width as per your preference */
    height: 50px; /* Adjust the height as per your preference */
    border-radius: 50%; /* Makes the icon circular */
  }

  .map-button img {
    width: 60px; /* Adjust the width as per your preference */
    height: 60px; /* Adjust the height as per your preference */
    border-color: #fff;
    border-radius: 50%; /* Makes the icon circular */
    cursor: pointer;
  }

  .map-button {
    position: fixed;
    bottom: 20px;
    right: 110px;
    /* Additional styles for circular button */
    width: 60px;
    height: 60px;
    background-color: #fff; /* Green */
    border-radius: 50%;
    border-color: #2fd1b9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-button:hover {
    background-color: #4ac2da;
}
.step-name {
    margin-right: 70px; /* Adjust the margin-right as needed */
}
.status {
    display: flex;
    align-items: center;
}

.step-name {
    margin-right: 10px;
}
