.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;

}

.add-img-upload {
    display: flex;
    flex-direction: column;
}

.add-img-upload img {
    width: 120px; /* Set the width of the uploaded image */
    height: auto; /* Set the height of the uploaded image */
   
    border: 2px solid #ccc; /* Add a border for styling */
    border-radius: 5px; /* Add border-radius for rounded corners */
    margin-bottom: 10px; /* Add margin to separate from other elements */
}


.add-product-name, .add-product-description{
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 10PX;
    border-radius: 5px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
}

.add-btn{
    max-width: 120px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}