.cart {
    margin-top: 100px;
}

.cart-items {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
    font-weight: bold;
    padding-bottom: 5px;
}

.cart-items-item {
    display: grid; /* Change display to grid */
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr; /* Match the columns with the title */
    align-items: center;
    margin: 10px 0; /* Margin added for spacing */
    color: gray;
}


.cart-items-item img {
    width: 50px;
    transition: transform 0.5s ease-in-out;
}

.cart-items-item img:hover {
    transform: scale(1.1);
}

.cart-items hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.cart-items-item .cross {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.cart-items-item .cross:hover {
    color: #c82333;
    transform: scale(1.1);
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr {
    margin: 10px 0;
}

.cart-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-promocode {
        justify-content: flex-start;
    }
}
/* Cart.css */

.cart-promocode .error-message {
    color: #ff0000; /* Red color for error message */
  }
  
 .cart-promocode .success-message {
    color: #52af52; /* Green color for success message */
  }
  