.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 60px;
  }
  
  .footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width based on available space */
    gap: 20px;
  }
  
  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  
  .footer-content-left li,
  .footer-content-right li,
  .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .footer-content-right h2,
  .footer-content-center h2 {
    color: wheat;
  }
  
  
  .footer-social-icons img {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: gray;
    border: none;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .footer-content {
      grid-template-columns: 1fr; 
      gap: 35px;/* Display as a single column on smaller screens */
    }
    .footer-copyright{
        text-align: center;
    }
  }
  .footer-social-icons img:hover{
    transform: scale(1.10);
 }
  
 .footer-content-right ul
 {
   /* Display items in a row */
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer-content-right ul li,
.footer-content-center ul li {
  margin-right: 10px; /* Adjust margin between icons */
}

.footer-content-right img,
.footer-content-center img {
  width: 120px; /* Adjust width of icons */
  height: auto; /* Maintain aspect ratio */
}

.contact {
  margin-top: 20px;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact ul li img {
  margin-right: 10px;
  width: 30px; /* Adjust size as needed */
  /* Adjust size as needed */
  
  
}
.download ul{
  display: flex;
  width: 150px; /* Adjust width of icons */
  height: auto; 
  
}
.download img{
  border-radius: 30px;
  background: #312f2f;
  box-shadow: 15px 15px 30px #8b8181,
             -15px -15px 30px #373636;
}


.container {
  position: relative;
  padding: 40px;
  width: 100%;
  height: 100%; /* Adjust to fill the container */
}

.aerial-view-media {
  width: 100%;
  height: 60%; /* Adjust to fill the container */
  object-fit: cover; /* Maintain aspect ratio */
}

.footer-content-aerial-view-container {
  width: 100%; /* Adjust to fit the footer */
  max-width: 400px; /* Adjust maximum width */
  height: 250px; /* Adjust height */
  margin-top: 20px; /* Adjust margin */
}

.footer-content-aerial-view-container h2{
  color: wheat;
}